table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100px;
}

td,
th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
  width: 280px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.table-div {
  /* width: 200px; */
  margin: auto;
}
.edit-btn img {
  width: 25px;
}
.loading-div {
  width: 100%;
  margin: auto;
}
.loading-div img{
width: 100%;
margin: auto;
text-align: center
}