/* .admin-right {
  background-color: red;
  width: 2%;
  
} */

.side-navbar {
  height: 100vh;
  width: 15%;
  /* position: fixed; */
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(10, 10, 10);
  padding-top: 20px;
}
.side-navbar a {
  padding: 50px 10px 10px 10px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: #fff;
}
.content-area {
  margin-left: 0px;
  margin-top: 30px;

  /* padding: 0 10px; */
}
.add-food {
  padding: 20px;
  width: 80%;
  /* border: 1px solid red; */
  box-shadow: 10px 10px 20px gray;
}
.input-field {
  width: 250px;
  height: 30px;
  padding: 25px;
  border: none;
  border-bottom: 1px solid rgb(112, 48, 48);
  margin: 10px;
  /* background-color: #fffdea; */
}
.add-food-sub {
  width: 93%;
  /* border: 1px solid red; */
}
.dashboard-item:hover {
  color: rgb(9, 231, 231);
}

.upload-file {
  margin-top: 20px;
  padding: 8px 15px;
  /* background-image: linear-gradient(45deg, cyan, magenta, lightblue); */
  background-color: rgb(170, 219, 203);
  text-shadow: 2px 2px 2px 4px rgb(164, 214, 212);
  border: 1px solid rgb(1, 122, 116);
  border-top: 2px solid rgb(1, 122, 116);
  font-size: 18px;
  /* color: white; */
  border-radius: 10px;
}
.upload-file img {
  width: 20px;
}
#uploadImage {
  display: none;
}
